.chat
  .chat__right-header
    .chat__right-header__group
      = @group.name
      %ul.chat__right-header__group__list
        Member:
        %li.list-member
          - @users.each do |user|
            = user.name
    .chat__right-header__edit-btn
      =link_to edit_group_path(@group) do
        Edit
  .chat__message-content
    = render @messages
   

  .chat__form
    = form_with model: [@group, @message],  html: {class: "Form"},local: true do |f|
      .chat__form__box
        = f.text_field :content, class: 'message', placeholder: 'type a message'
        = f.label :image, class: 'image' do
          = icon('far','image', class: 'image')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'submit'

