.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      %h3.side-bar__user-name__top-items__name
        = current_user.name
      %ul.side-bar__user-name__top-items__icon
        %li.icon-left
          = link_to new_group_path(current_user) do
            %i.fas.fa-edit
        %li.icon-right
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog
  .side-bar__group
    - current_user.groups.each do |group|
      .side-bar__group__place
        = link_to group_messages_path(group) do
          .side-bar__group__place-name
            = group.name
          .side-bar__group__place-message
            = group.show_last_message