.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      %h3.side-bar__user-name__top-items__name
        = current_user.name
      %ul.side-bar__user-name__top-items__icon
        %li.icon-left
          = link_to "#" do
            %i.fas.fa-edit
        %li.icon-right
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog
  .side-bar__group
    .side-bar__group__place
      .side-bar__group__place-name
        = link_to"#" do
          Group name
      .side-bar__group__place-message
        = link_to"#"  do
          No Message
