.AccountPage
  .AccountPage__title
    %h2 Create Account
    %h5 新規アカウントの作成
    = render "devise/shared/links"
  .AccountPage__form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .FormField
        .FormField__label--normal
          = f.label :name
        .FormField__input--normal
          = f.text_field :name, autofocus: true
      .FormField
        .FormField__label--normal
          = f.label :email
        .FormField__input--normal
          = f.email_field :email
      .FormField
        .FormField__label--normal
          = f.label :password
          %i (英数字8文字以上)
        .FormField__input--normal
          = f.password_field :password, autocomplete: "off"
      .FormField
        .FormField__label--normal
          = f.label :password_confirmation
        .FormField__input--normal
          = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit "Create Account", class: 'Button UserButton'
